<!doctype html>
<html ng-app="simulation">
<head>
  <script src="bower_components/lodash/dist/lodash.compat.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
  <script src="lib/index.js"></script>
  <style>
    input {
      width: 40px;
    }

    .wind-table {
      position: absolute;
      right: 100px;
      top: 200px;
    }
  </style>
</head>

<div ng-controller="SimulationCtrl">
  <label>Fast Fall First</label> <input type="checkbox" ng-model="simulationConfig.fastFallFirst"/>
  <label>Number of Jumpers:</label> <input type="text" ng-model="simulationConfig.numJumpers"/>
  <label>Time Between Groups:</label> <input type="text" ng-model="simulationConfig.timeBetweenGroups"/>
  <label>Max Group Size:</label> <input type="text" ng-model="simulationConfig.groupSize"/>
  <label>Switch from Fast/Slow:</label> <input type="text" ng-model="simulationConfig.groupSwitch"/>
  <label>Opening Altitude:</label> <input type="text" ng-model="simulationConfig.openingAltitude"/>
  <button ng-click="simulationStart()">Start</button>
  <canvas style="background: #7ec0ee;" id="screen" width="800" height="600"></canvas>
  <div>{{timeRunning || 0}} seconds</div>
  <div>{{groupsUnderCanopy || 0}} Groups Under Canopy</div>
  <div>{{canopiesUnder1k}} Maximum Groups Under Canopy @ 1000 ft</div>
  <br>
  <span ng-repeat="distance in horizontalDistances">{{distance.distance}} ft apart<br></span>
  <div class="wind-table">
    <span ng-repeat="alt in windAltitude">{{alt}} ft @ {{winds[alt]}} mph<br></span>
  </div>
</div>

</html>

